.MuiFormLabel-root {
    color: #a6a29f !important;
    font-weight: 600 !important;
}

.MuiInput-underline::after {
    border-bottom: 2px solid #a6a29f !important;
}

.MuiInput-underline::before {
    border-bottom: 2px solid #ecebe9 !important;
}

.MuiInputBase-input {
    color: #3f3e3e !important;
    font-weight: 500 !important;
}

.MuiInput-underline.Mui-error:after {
    transform: scaleX(1);
    border-bottom-color: #ea1d2c !important;
}

.MuiFormLabel-root.Mui-error {
    color: #ea1d2c !important;
}
