.container {
    width: 100%;
    display: block;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}

.boxSearch {
    padding: 24px 0px;
    position: relative;
}

.inputSearch {
    position: relative;
    background: #f2f2f2;
    padding: 10px 16px;
    border-radius: 4px;

    display: flex;
    align-items: center;
}

.inputSearch input {
    border: none;
    color: #8f8c8a;
    background: none;
    font-size: 16px;
    margin-left: 1em;
    width: 100%;
    margin-top: 2px;
}

.inputSearch input::placeholder {
    color: #8f8c8a;
    font-weight: 500;
}

.powered {
    float: right;
}
