.container {
    width: 100%;
    display: block;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}

.boxSearch {
    padding: 24px 0px;
    position: relative;
}

.inputSearch {
    position: relative;
    background: #f2f2f2;
    padding: 10px 16px;
    border-radius: 4px;

    display: flex;
    align-items: center;
}

.inputSearch input {
    border: none;
    color: #8f8c8a;
    background: none;
    font-size: 16px;
    margin-left: 1em;
    width: 100%;
    margin-top: 2px;
}

.inputSearch input::placeholder {
    color: #8f8c8a;
    font-weight: 500;
}

.powered {
    float: right;
}

.card {
    padding: 18px 8px;
    border-bottom: 2px solid #f3f2ef;
}

.cardInfo {
    padding-left: 11px;
}

.cardInfo h5 {
    color: #3f3e3e;
    font-weight: 400;
    margin-bottom: 4px;
    font-size: 18px;
}

.cardInfo p {
    color: #a6a2a9;
}

.actionsSearch {
    margin-top: 24px;
    z-index: 10;
}

.actionsSearch h6 {
    text-align: center;
    color: #3f3e3e;
    font-weight: 400;
    margin-bottom: 16px;
    font-size: 16px;
}

.actionsSearch button {
    width: 100%;
    color: #ea1d2c;
    font-size: 15px;
    font-weight: 600;
    padding: 16px 0px;
    background: #fff;
    border: 2px solid #f3f2ef;
    border-radius: 6px;
}
